.App {
  text-align: center;
  margin-top: 0;
  --primary: #dacc3e;
  --secondary: #75b9be;
  --bg: #FAF9F6;
  --text: #000000;
}

.App[data-theme="dark"] {
  --primary: #59562d;
  --secondary: #7dafb3;
  --bg: #262626;
  --text: #FAF9F6;
  min-height: 100vh;
  background-color: var(--bg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
